<link rel="stylesheet" href="~/css/home.css" />

@model IEnumerable<CustomMovie>
@{
    ViewData["Title"] = "Home Page";
}
@*@{

    Layout = "~/Views/Shared/_customlayout.cshtml";

}*@
<meta http-equiv="refresh" content="1500">
<head>

</head>
<body>   

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="top">
                <span class="header"><i class="fa fa-film icon" aria-hidden="true"></i>&nbspCINEBOX</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="menu-filter">
                    @*<div class="row">                
                        <object data="@Url.Action("PostAndShow", "")"></object>   
                    </div>*@
                    <div class="col pull-right">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row movies">


            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="wrapper">
                        <div class="row no-gutters">
                            <div class="col-lg-6">
                                <div class="movies" id="1">
                                    @*<img src="@Url.Content(item.PosterPath)" alt="Image" height="278" /> <br>*@
                                    @*<input type="image" id="image33" src="@Url.Content(item.PosterPath)" data-toggle="ajax-modal" data-target="#myModal" data-url="@Url.Action("MovieModal")" data-search="?moviedbid=" data-movieid="@item.MovieDbId" height="278" />*@
                                    @if (item.FtpRelease.Count > 0)
                                    {
                                        <div id="unten" data-toggle="ajax-modal" data-target="#myModal" data-url="@Url.Action("MovieModal")" data-search="?moviedbid=" data-movieid="@item.MovieDbId" style="background-image:url(@Url.Content(item.PosterPath))"></div>
                                        <div id="oben"><label>Release Found</label></div>
                                    }
                                    else if (true)
                                    {
                                        <img src = "@Url.Content(item.PosterPath)" alt = "Image" height = "278" />
                                    }

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="side">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="mname">@Html.DisplayFor(modelItem => item.Title)</div>
                                        </div>
                                        <div id="modal-placeholder"></div>
                                        @*<button type="button" class="btn btn-primary btn-lg" data-toggle="ajax-modal" data-target="#myModal" data-url="@Url.Action("MovieModal")" data-search="?moviedbid=" data-movieid="@item.MovieDbId">
                                                Release Found
                                            </button>*@
                                        @*<div class="col-12">
                                                <div class="year">(2014)</div>
                                            </div>
                                            <div class="col-12 stars">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }






        </div>
 

</body>








@*<div class="container">
        <div class="row">
            <div class="col">
                <div class="top"><span class="header"><i class="fa fa-film icon" aria-hidden="true"></i>&nbspCINEBOX</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="menu-filter">
                    <div class="row">
                        <div class="col pull-left">
                        </div>
                        <div class="col pull-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row movies">
            <div class="col-lg-4">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="poster2" id="1">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="side">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mname">Kill Bill: Vol.1</div>
                                    </div>
                                    <div class="col-12">
                                        <div class="year">(2014)</div>
                                    </div>
                                    <div class="col-12 stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@