
<link rel="stylesheet" href="~/css/home.css" />


@model IEnumerable<FtpRelease>
@{
    ViewData["Title"] = "Home Page";
}



<h2>Testprojekt mit Liste als Model</h2>

<form>
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>


<table id="PersonTable" class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FtpReleasename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FtpReleaseGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FtpFolder)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FtpReleasename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FtpReleaseGroup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FtpFolder)
                </td>
            </tr>
        }
    </tbody>
</table>


